<div class="container">
  <div class="row">
    <div class="col-md-3 border border-primary rounded ">
      <div class="row text-white bg-primary" style="height: 100px">
        <div class="col-md-4 col-sm-4 col-4">
          <i class="fa fa-comments fa-3x pt-2"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-8 text-right">
          <div class="h1 font-weight-bold pt-2">{{counter dbComentary}}</div>
          <div>commentaires</div>
        </div>
      </div>
      <a href="/comentaryList">
        <div class="row text-primary pt-2">
          <div class="col-md-8">
            <div class="text-left">Commentaires à valider</div>
          </div>
          <div class="col-md-4">
            <div class="text-right"><i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 border border-success rounded">
      <div class="row text-white bg-success" style="height: 100px">
        <div class="col-md-4 col-sm-4 col-4">
          <i class="fa fa-shopping-cart fa-3x pt-2"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-8 text-right">
          <div class="h1 font-weight-bold pt-2">{{counter dbMkp}}</div>
          <div>annonces</div>
        </div>
      </div>
      <a href="/mkplist">
        <div class="row text-success pt-2">
          <div class="col-md-6">
            <div class="text-left">Annonces signalée</div>
          </div>
          <div class="col-md-6">
            <div class="text-right"><i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 border border-warning rounded">
      <div class="row text-white bg-warning" style="height: 100px">
        <div class="col-md-4 col-sm-4 col-4">
          <i class="fa fa-tasks fa-3x pt-2"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-8 text-right">
          <div class="h1 font-weight-bold pt-2">{{counter dbuser}}</div>
          <div>utilisateurs</div>
        </div>
      </div>
      <a href="/listUser">
        <div class="row text-warning pt-2">
          <div class="col-md-6">
            <div class="text-left">Gérer les utilisateurs</div>
          </div>
          <div class="col-md-6">
            <div class="text-right"><i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 border border-danger rounded">
      <div class="row text-white bg-danger" style="height: 100px">
        <div class="col-md-4 col-sm-4 col-4">
          <i class="fa fa-ticket-alt fa-3x pt-2"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-8 text-right">
          <div class="h1 font-weight-bold pt-2">{{counter dbMessage}}</div>
          <div>messages</div>
        </div>
      </div>
      <a href="/ticketAdmin">
        <div class="row text-danger pt-2">
          <div class="col-md-6">
            <div class="text-left">Lire les messages</div>
          </div>
          <div class="col-md-6">
            <div class="text-right"><i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4">
        <a href="/jeuCreate" class="btn btn-jeux">Créer un jeu</a>
      </div>
      <div class="col-md-4">
        <a href="/mkpCreate" class="btn btn-mkp">Créer une annonce</a>
      </div>
      <div class="col-md-4">
        <a href="/actuCreate" class="btn btn-actu">Créer une actualité</a>
      </div>
    </div>
  </div>
</div>