<div class="border-bottom mx-auto " style="width: 40%;">
    <h1 class="text-center sign-color">Créer un compte</h1>
</div>
<div class="container mt-3 ">
    <div class=" px-auto">
        {{!-- formulaire d'inscription --}}
        <form action="/myaccount/{{ dbuser._id }}/?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="name">modifier mon nom</label>
                    <input type="input" class="form-control" name="name" value="{{name}}"
                        required>{{!--required permet de forcer le remplissage de la zone de texte --}}
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-12">
                    <label for="inputEmail">Modifier mon adresse Email</label>
                    <input type="email" class="form-control" name="email" value="{{dbuser.email}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                
            </div>

            {{!-- bouton d'inscription --}}
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-sign">Mettre à jour</button>
                </div>
            </div>
        </form>
    </div>
</div>

