<div class="container">
    <div class="row">

        <div class="col-md-4">
            <h4>A propos</h4>
            <a href="/">Ludiqu'mans</a></br>
            <a href="/">Le monde du jeu</a></br>
            <a href="/">Contactez nous</a>
        </div>

        <div class="col-md-4">
            <h4>Information légales</h4>
            <a href="/">Mentions légales</a></br>
            <a href="/">Condition générales d'utilisation</a></br>
            <a href="/">Règles de bonne conduite</a>
        </div>

        <div class="col-md-4">
            <h4>Données personnellles</h4>
            <a href="/">Politique de confitialité</a></br>
            <a href="/">Politique Cookies</a></br>         
        </div>

    </div>
</div>