<div class="container mt-3">
    <div class="row">
        <div class="card-deck">
            {{!-- Liste MKP --}}

            {{!-- Card MKP Item --}}
            <div class="card card-mkp">
                <h5 class="card-title mx-auto mt-3">Nom produit à vendre</h5>
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <h5>Prix : 50€</h5>
                    <a href="#" class="btn btn-marketplace">Contacter le vendeur</a>
                    <button class="btn btn-marketplace" type="submit">Signaler</button>
                    <button class="btn btn-marketplace" type="submit">Supprimer</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            {{!-- > / Card MKP Item --}}

            {{!-- Liste MKP --}}
            <div class="card card-mkp">
                <h5 class="card-title mx-auto mt-3">Nom produit à vendre</h5>
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <h5>Prix : 50€</h5>
                    <a href="#" class="btn btn-marketplace">Contacter le vendeur</a>
                    <button class="btn btn-marketplace" type="submit">Signaler</button>
                    <button class="btn btn-marketplace" type="submit">Supprimer</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card card-mkp">
                <h5 class="card-title mx-auto mt-3">Nom produit à vendre</h5>
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                    <h5>Prix : 50€</h5>
                    <a href="#" class="btn btn-marketplace">Contacter le vendeur</a>
                    <button class="btn btn-marketplace" type="submit">Signaler</button>
                    <button class="btn btn-marketplace" type="submit">Supprimer</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>