<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/ressources/images/logo.png" alt="logo" width="60">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Actu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Les derniers les actus</a>
          <a class="dropdown-item" href="#">Toutes les actus</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Créer les actus</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Jeux
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Les derniers jeux</a>
          <a class="dropdown-item" href="#">Tout les jeux</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Créer les jeux</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/marketplace">Market place <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="wandw">Où et quand<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#signin" data-toggle="modal" data-target="#exampleModal">se connecter<span
              class="sr-only navbar-text">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" data-toggle="modal" data-target=".bs-modal-sm">créer un compte<span
              class="sr-only navbar-text">(current)</span></a>
        </li>
      </ul>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


{{!-- modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container login-container">
        <div class="row">
          <div class="col-md-6 login-form-1">
            <h3>Login for Form 1</h3>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email *" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Password *" value="" />
              </div>
              <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
              </div>
              <div class="form-group">
                <a href="#" class="ForgetPwd">Forget Password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>