<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="/ressources/images/logo.png" alt="logo" width="60">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Les derniers les actus</a>
          <a class="dropdown-item" href="#">Toutes les actus</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Créer les actus</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jeux
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Les derniers jeux</a>
          <a class="dropdown-item" href="#">Tout les jeux</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Créer les jeux</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Market place <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Où et quand<span class="sr-only">(current)</span></a>
      </li>
      </ul>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
<a class="nav-link" href="#">se connecter<span class="sr-only navbar-text">(current)</span></a>
          </li>
          <li class="nav-item active">
<a class="nav-link" href="#">créer un compte<span class="sr-only navbar-text">(current)</span></a>
          </li>

      </ul>
        
      
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>