{{!-- Zone commentaire --}}
<div class="row mt-3">
    <div>
        <div class="rating form-group">
            <div class="stars mb-2 mt-5">
                <i class="far fa-star gold"></i>
                <i class="far fa-star gold"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="commentaire-text" cols="110"
                    placeholder="Commentaire lorem*3"></textarea>
            </div>
        </div>
        <div>
            <a href="/contact"><button type="button" class="btn btn-sign" type="submit">Signaler</button></a>
            <button type="button" class="btn btn-sign" type="submit" data-toggle="modal"
                data-target="#modalConfirmSupp">Supprimer</button>
        </div>
    </div>
</div>

{{!-- modal confirmation suppression --}}
<div class="modal fade" id="modalConfirmSupp" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Confirmez-vous la suppression ?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sign">Oui</button>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sign">Non</button>
            </div>
        </div>
    </div>
</div>