<div class="container">
  <div class="row">
    <div class="col-md-3 border border-primary rounded m-1">
      <div class="row text-white bg-primary align-middle" style="height: 100px">
        <div class="col-md-3 pt-2">
          <i class="fa fa-comments fa-5x"></i>
        </div>
        <div class="col-md-9 text-right">
          <div class="h1 font-weight-bold">26</div>
          <div>Nouveaux coms</div>
        </div>
      </div>
      <a href="">
        <div class="row text-primary pt-2">
          <div class="col-md-6">
            <div class="text-left">Voir Details</div>
          </div>
          <div class="col-md-6">
            <div class="text-right"><i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 border border-sucess rounded m-1">
      <div class="row text-white bg-success" style="height: 100px">
        <div class="col-md-3 pt-2">
          <i class="fa fa-shopping-cart fa-5x"></i>
        </div>
        <div class="col-md-9 text-right">
          <div class="h1 font-weight-bold">14</div>
          <div>Nouvels annonces</div>
        </div>
      </div>
      <a href="">
        <div class="row text-success pt-2">
          <div class="col-md-6">
            <p class="text-left">Voir Details</p>
          </div>
          <div class="col-md-6">
            <p class="text-right"><i class="fa fa-arrow-circle-right"></i></p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 border border-warning rounded m-1">
      <div class="row text-white bg-warning" style="height: 100px">
        <div class="col-md-3 pt-2">
          <i class="fa fa-tasks fa-5x"></i>
        </div>
        <div class="col-md-9 text-right">
          <div class="h1 font-weight-bold">26</div>
          <div>New Comments!</div>
        </div>
      </div>
      <a href="">
        <div class="row text-warning  pt-2">
          <div class="col-md-6">
            <p class="text-left">Voir Details</p>
          </div>
          <div class="col-md-6">
            <p class="text-right"><i class="fa fa-arrow-circle-right"></i></p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 border border-danger rounded m-1">
      <div class="row text-white bg-danger" style="height: 100px">
        <div class="col-md-3 pt-2">
          <i class="fas fa-ticket-alt fa-5x"></i>
        </div>
        <div class="col-md-9 text-right">
          <div class="h1 font-weight-bold">26</div>
          <div>Nouveaux tickets</div>
        </div>
      </div>
      <a href="">
        <div class="row text-danger pt-2">
          <div class="col-md-6">
            <p class="text-left">Voir Details</p>
          </div>
          <div class="col-md-6">
            <p class="text-right"><i class="fa fa-arrow-circle-right"></i></p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <a href="/addJeux" class="btn btn-jeux">Nouveaux jeux</a>
    </div>
    <div class="col-md-4">
      <a href="/marcketplaceCreate" class="btn btn-marketplace">Nouvelle annonce</a>
    </div>
    <div class="col-md-4">
      <a href="/actuCreate" class="btn btn-actu">Nouvelle actu</a>
    </div>
  </div>
</div>