<div class="container">
    <h1>Formulaire de contact</h1>
    <form action="/contact" method="POST">
        <div class="form-group">
            <label>Email de contact</label>
            <input type="email" class="form-control" placeholder="name@example.com" name="email" required>
        </div>
        <div class="form-group">
            <label >Sujet</label>
            <select class="form-control" name="sujet" required>
                <option></option>
                <option value="message">Message</option>
                <option value="support">Support</option>
            </select>
        </div>
        <div class="form-group">
            <label>Votre message</label>
            <textarea class="form-control" rows="3" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-sign">Envoyer le message</button>
    </form>
</div>