<section class="section">
    <div class="container text-center">
        <h1>Page introuvable</h1>
        <a href="/"><p>Retourner sur la page d'accueil</p>
        <img src="/ressources/images/Logo-ludiqu'mans.png" alt="logo ludiqu-mans"></a>
    </div>
</section>

