<div class="container">
    <h1>Les dernières actus</h1>
        {{>actu}}
</div>
<div class="d-flex flex-row-reverse bd-highlight">
    <a href="/marketplace">Voir la suite</a>
</div>
<div class="container">
    <h1>Les dernières bonnes affaires</h1>
        {{>marketplace}}
</div>
<div class="d-flex flex-row-reverse bd-highlight">
    <a href="/marketplace">Voir la suite</a>
</div>
