{{!---------------- carousel -----------------}}
<div id="carouselExampleSlidesOnly" class="carousel slide pb-2" data-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active ">
            <img src="https://siboneycubancuisine.com/image/76370-full_thumbnail-background-1920x1080.png"
                height="600px" class="d-block w-100 rounded" alt="">
        </div>
        <div class="carousel-item ">
            <img src="https://siboneycubancuisine.com/image/76370-full_thumbnail-background-1920x1080.png"
                height="600px" class="d-block w-100 rounded" alt="">
        </div>
        <div class="carousel-item ">
            <img src="https://siboneycubancuisine.com/image/76370-full_thumbnail-background-1920x1080.png"
                height="600px" class="d-block w-100 rounded" alt="">
        </div>
    </div>
</div>
{{!---------------- /carousel -----------------}}

{{!---------------- titre ---------------------}}
<div class="container mt-4">
    <h1>Les dernières actus</h1>
    {{!--------------- /titre -----------------}}

    {{!---------------- card actu -------------}}
    <div class="row">
        <div class="card-deck">
            {{#each (limitEach dbActu 3) }}
            {{> cards/actu }}
            {{/each }}
        </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight mr-5 pt-2">
        <a href="/actus">Voir la suite</a>
    </div>
</div>
{{!----------------/card actu -----------------}}

{{!-------------- separateur ------------------}}
<div class="border-top mx-auto" style="width: 40%;"></div>
{{!------------- /separateur ------------------}}

{{!---------------- titre ---------------------}}
<div class="container mt-4 ">
    <h1>Les dernières bonnes affaires</h1>
    {{!--------------- /titre -----------------}}

    {{!---------------- card mkp --------------}}
    <div class="row">
        <div class="card-deck">
            {{#each (limitEach dbMkp 3) }}
            {{> cards/mkp }}
            {{/each}}
        </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight mr-5 pt-2">
        <a href="/mkp">Voir la suite</a>
    </div>
</div>
{{!---------------- /card mkp -----------------}}