<div class="border-bottom mx-auto" style="width: 40%;">
    <h1 class="text-center jeux-color">Nom du jeu</h1>
</div>
<div class="container mt-3">
    <div class="row text-center">
        <img src="https://picsum.photos/480/480" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
        <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore laborum beatae sed, doloremque
            rerum
            consequuntur, quibusdam atque deleniti error veritatis dolorum. Quis possimus porro provident excepturi.
            Obcaecati nulla dolore ipsa?
            Sapiente dolorum autem, fugit minus vero cumque a beatae eos, laudantium facere odit inventore maxime eum
            impedit, sed tenetur facilis vitae illo iusto nobis. Dolore illo sint animi quibusdam aperiam.
            Quo ad blanditiis excepturi dolorem consequatur totam. Quis quam assumenda dignissimos eaque aliquid odio
            eum facilis itaque. Iusto deserunt fuga, fugiat dolores nam quibusdam non dicta ut recusandae, optio
            delectus.
            Autem possimus sint ipsa incidunt neque dolore repudiandae ut fugiat officiis esse beatae ratione
            consectetur expedita commodi similique illum, cupiditate quo iusto? Quisquam nulla asperiores facilis cum,
            non corporis iure?
            Mollitia sapiente eos, quis repellat, maxime impedit sit deserunt aperiam ipsa minima, excepturi quibusdam.
            Eum laboriosam quis quam, et dolor error deleniti doloremque, vel eligendi at adipisci omnis, ipsam impedit!
        </p>
        <button type="button" class="btn btn-actu" data-toggle="modal" data-target="#modalCommenter"
            data-whatever="@getbootstrap">Commenter</button>
        <button type="button" class="btn btn-actu" data-toggle="modal" data-target="#modalEditer">Modifier</button>
        <button type="button" class="btn btn-actu" data-toggle="modal" type="submit"
            data-target="#modalConfirmSupp">Supprimer</button>
    </div>


    {{!-- Modal Editer Article --}}
    {{>modalEdit}}

    {{!-- Modal confirmation de suppression --}}
    {{>modalConfirmSupp}}

    {{!-- Modal commenter --}}
    {{>modalCommenter}}


    {{!-- Zone commentaire --}}
    {{>zoneCommentaire}}

</div>