<div class="border-bottom mx-auto " style="width: 40%;">
    <h1 class="text-center ">Où et quand jouer</h1>
</div>




<div class="container mt-3">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
            src="https://www.google.com/maps/d/embed?mid=19gAP2nftFAO-UmIml0aVUXnLLcVryu_a" width="640"
            height="480"></iframe>
    </div>
</div>

<div class="container mt-3">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
            src="https://calendar.google.com/calendar/embed?src=bre1jnpc6tc6o5p23c9t5tsujg%40group.calendar.google.com&ctz=Africa%2FCeuta"
            style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>