body {
    padding: 0;
    margin: 0;
   background-color: rgba(247, 253, 246, 0.5);
}

/* =============== CARD =============== */
.card {
    border: solid 2px ;
    border-radius: 10px;  
    transition: width 1s, height 1s, transform 0.7s;
    margin: 10px;
}

.card-body {
    text-align: center;
}

.card-actu {
    border-color: rgb(48, 152, 217);
    transition: 1s;
    box-shadow: 10px 10px 5px rgba(48, 152, 217, 0.5) ;
}

.card-actu:hover {
    box-shadow: 20px 20px 10px rgba(48, 152, 217, 0.3);
    transition: 1s;
    transform: scale(1.05, 1.05);
}

.card-mkp {
    border-color: rgb(166, 41, 133);
    box-shadow: 10px 10px 5px rgba(166, 41, 133, 0.5) ;
}

.card-mkp:hover {
    box-shadow: 20px 20px 10px  rgba(166, 41, 133, 0.3);
    transition: 1s;
    transform: scale(1.05, 1.05);
}

.card-footer {
    background-color: rgba(221, 221, 221, 0.5);
}

/* =============== FoNT =============== */

h1 {
    font-family: 'neucha';
    
}

/*couleur de texte */
.actu-color{
    color: #3098D9
}
    
.jeux-color{
    color: #12A646
}

.mkp-color{
    color: #A62985 
}
.wandw-color{
    color: #F2A81D
}
.sign-color{
    color: #F2522E
}

/*mise en forme des boutons*/

body{
    font-family: 'neucha'
}



.btn-actu {
    font-family: 'neucha';
    color: #fff;
    background-color: #3098D9;
    border-color: #3098D9; }
.btn-actu:hover {
    color: #fff;
     background-color:  #2485c2;
    border-color: #1c6897; 
}

.btn-mkp {
  color: #fff;
  background-color: #A62985;
  border-color: #A62985; 
}
.btn-mkp:hover {
    color: #fff;
    background-color: #8f2472;
    border-color: #661952;
}

.btn-sign {
    color: #fff;
    background-color: #F2522E;
    border-color: #F2522E; 
}

.btn-sign:hover {
     
    color: #fff;
    background-color: #f0380f;
    border-color: #c02d0c; 
    }


.btn-wandw {
    color: #fff;  
    background-color: #F2A81D;   
    border-color: #F2A81D; 
} 
    
.btn-wandw:hover {   
    color: #fff;   
    background-color: #d9910d; 
    border-color: #c1810b; 
}


.scrollup {
    z-index: 10;
    position:fixed; 
    width:100px;
    top: 90vh;
    right:-60px;
}

.footer {
    bottom: 0;
    width: 100%;
    background: rgb(221, 221, 221);
    margin-top: 30px;
}

/* =============== sidebar =============== */

.sideReseau {
    z-index: 10;
    position: fixed;
    width: 100px;
    top: 30vh;
    right: -60px;
    text-align: left;
    transition: 1s;
    box-shadow: 10px 10px 10px;
    background-color: rgba(18, 165, 70, 0.3); }
  
  .sideReseau:hover {
    transform: translateX(-20px);
    transition: 1s; }


/* =============== NAVBAR =============== */
.nav-ludi{
    font-family: 'sacramento';
     font-size: 180%;
      font-weight: bold;
}
