{{!------------ titre ------------------}}
<div class="border-bottom mx-auto " style="width: 40%;">
    <h1 class="text-center mkp-color">Le bon jeu</h1>
</div>
{{!------------ /titre ------------------}}

{{!------------ cards mkp ------------------}}
<div class="container">

    {{> cards/mkp }}

</div>
{{!------------/cards mkp ------------------}}