
{{!------------ titre ------------------}}
<div class="border-bottom mx-auto " style="width: 40%;">
    <h1 class="text-center mkp-color ">Vendez vos jeux</h1>
</div>
{{!------------ /titre ------------------}}

{{!------------ formulaire de creation d'annonce ------------------}}
<div class="container  mt-3">
    <div class="px-auto">
        <form action="/mkpCreate" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="title">Nom du jeu à vendre</label>
                    <input type="text" class="form-control" id="title" name="title" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="description">Description/état (limité à 300 caractères)</label>
                    <textarea maxlength="300" class="form-control" id="validationTextarea" type="text" value="texte limité à 300 caractères" name="content"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="seller">Vendeur</label>
                    <input type="text" class="form-control" placeholder="Votre nom d'utilisateur" name="seller">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="price">Prix</label>
                    <input type="number" class="form-control" placeholder="En euros uniquement" name="price">
                </div>
            </div>
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" name="image">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Envoyer une image au format .jpg .jpeg .gif uniquement
                        </span>
                    </span>
                </label>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="btn btn-mkp">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{!------------ formulaire de creation d'annonce ------------------}}