<footer class="footer">
    <div class="container-fluid text-center text-muted">
        <div class="row">

            <div class="col-md-4">
                <p class="font-italic small mb-auto">A propos</p class="font-italic">
                <a href="/" class="font-italic text-decoration-none small">Ludiqu'mans</a></br>
                <a href="/contact" class="font-italic text-decoration-none small">Contactez nous</a>
            </div>

            <div class="col-md-4">
                <p class="font-italic small mb-auto">Information légales</p>
                <a href="/" class="font-italic text-decoration-none small">Mentions légales</a></br>
                <a href="/" class="font-italic text-decoration-none small">Condition générales d'utilisation</a></br>
            </div>

            <div class="col-md-4">
                <p class="font-italic small mb-auto">Données personnellles</p>
                <a href="/" class="font-italic text-decoration-none small">Politique de confitialité</a></br>
                <a href="/" class="font-italic text-decoration-none small">Politique Cookies</a></br>
            </div>

        </div>
    </div>
</footer>

