<nav class="navbar sticky-top navbar-expand-lg navbar-light shadow mb-2" style="background-color: rgb(203, 235, 214);"
  id="scrollup">
  <a class="navbar-brand" href="/">
    <img src="/ressources/images/Logo-ludiqu'mans.png" alt="logo" height="100">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link nav-ludi actu-color" href="/actus">Les actus<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-ludi jeux-color" href="/jeux" >Les jeux<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-ludi dropdown-toggle mkp-color" href="" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Le bon jeu
        </a>
        <div class="dropdown-menu mkp-color" aria-labelledby="navbarDropdown">
          <a class="dropdown-item mkp-color" href="/mkp">Toutes les annonces</a>
          {{#if isVerified}}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item mkp-color" href="/mkpCreate">Créer une annonce</a>
          {{/if}}
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-ludi wandw-color"  href="/wandw">Où et quand<span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        {{#if user}}
        <li class="nav-item active">
          <a class="nav-link nav-ludi sign-color" href="myAccount/{{id}}">Bonjour {{name}}<span
              class="sr-only navbar-text">(current)</span></a>
        </li>
        {{/if}}

        {{#if user}}
        {{else}}
        <li class="nav-item active">
          <a class="nav-link nav-ludi sign-color" href="#signin" data-toggle="modal" data-target="#exampleModal">Se
            connecter<span class="sr-only navbar-text">(current)</span></a>
        </li>
        {{/if}}

        {{#if user}}
        <li class="nav-item active">
          <a class="nav-link nav-ludi sign-color" href="/logout">Se deconnecter<span
              class="sr-only navbar-text">(current)</span></a>
        </li>
        {{/if}}

        {{#if isAdmin}}
        <li class="nav-item active">
          <a class="nav-link nav-ludi sign-color" href="/admin">Admin<span class="sr-only navbar-text">(current)</span></a>
        </li>
        {{/if}}

        {{#if user}}
        {{else}}
        <li class="nav-item active">
          <a class="nav-link nav-ludi sign-color" href="/signup">Créer un compte<span
              class="sr-only navbar-text">(current)</span></a>
        </li>
        {{/if}}
      </ul>
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>


{{!-- modal de connection --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container login-container">
        <div class="row ">
          <div class="col-md-12 login-form-1 text-center">
            <h3 classe="sign-color">Se connecter</h3>
            <form action="/authentification" method="post">
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Votre Email *" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Votre mot de passe *"
                  value="" />
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-sign" value="Se connecter" />
              </div>
              <div class="checkbox">
                <label> <input type="checkbox"> Se rappeler de moi. </label>
              </div>
              <div class="form-group">
                <a href="#" class="ForgetPwd">Mot de passe oublié</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- /modal de connection --}}