<section class="item">
    <div class="border-bottom mx-auto " style="width: 40%;">
        <h1 class="text-center jeux-color">Tout les jeux</h1>
    </div>


    <div class="container">
        <div class="row">
            <!-- GET -->

            <div class="col-md-12 col-sm-12">
                <ul class="list-group ">


                    {{#each dbJeuModel }}
                    <li class="list-item">
                        <div class="row">
                            <div class="col-md-4 col-sm-4  column">
                                <h3>{{title}}</h3>
                                <img src="https://picsum.photos/480/480" alt=""
                                        style="max-width: 100px;">
                            </div>
                            <div class="col-md-8 pt-4 col-sm-8">
                                <p>{{content}} </p>
                                <p>auteur: {{author}} </p>
                            </div>
                            <a href="/jeuSingle/{{_id}}">en savoir plus..</a>
                    </li>
                    {{/each }}


                </ul>



            </div>
        </div>
    </div>
</section>

<style>
    li {
        list-style: none;
    }
</style>