
<div class="container mt-3">
    <div class="row">
        <div class="card-deck">
            {{#each dbActu }}
            <div class="card card-actu mx-4">
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titre : {{ title }} </h5>
                    <p class="card-text"> {{ content }}</p>
                    <a href="/actuSingle/{{ id }}" class="btn btn-actu">Voir l'article</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ createDate }}</small>
                </div>
            </div>
            {{/each }}

            {{!-- <div class="card card-actu mx-4">
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titre article</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <a href="/actuSingle" class="btn btn-actu">Voir l'article</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card card-actu mx-4">
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titre article</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                    <a href="/actuSingle" class="btn btn-actu">Voir l'article</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div> --}}
        </div>
         
    </div>
   
</div>