<div class="container mt-3">
    <div class="row">
        <div class="card-deck">

            <div class="card card-mkp">
                <h5 class="card-title mx-auto mt-3">Nom produit à vendre</h5>
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <h5>Prix : xx€</h5>
                    <button type="button" class="btn btn-marketplace" data-toggle="modal"
                        data-target="#modalContactVendeur" data-whatever="@getbootstrap">Contacter le vendeur</button>
                    <a href="/contact"><button class="btn btn-marketplace" type="submit">Signaler</button></a>
                    <button type="button" class="btn btn-marketplace" data-toggle="modal" type="submit"
                        data-target="#modalConfirmSupp">Supprimer</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>

            <div class="card card-mkp">
                <h5 class="card-title mx-auto mt-3">Nom produit à vendre</h5>
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <h5>Prix : xx€</h5>
                    <button type="button" class="btn btn-marketplace" data-toggle="modal"
                        data-target="#modalContactVendeur" data-whatever="@getbootstrap">Contacter le vendeur</button>
                    <a href="/contact"><button class="btn btn-marketplace" type="submit">Signaler</button></a>
                    <button type="button" class="btn btn-marketplace" data-toggle="modal" type="submit"
                        data-target="#modalConfirmSupp">Supprimer</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>

            <div class="card card-mkp">
                <h5 class="card-title mx-auto mt-3">Nom produit à vendre</h5>
                <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <h5>Prix : xx€</h5>
                    <button type="button" class="btn btn-marketplace" data-toggle="modal"
                        data-target="#modalContactVendeur" data-whatever="@getbootstrap">Contacter le vendeur</button>
                    <a href="/contact"><button class="btn btn-marketplace" type="submit">Signaler</button></a>
                    <button type="button" class="btn btn-marketplace" data-toggle="modal" type="submit"
                        data-target="#modalConfirmSupp">Supprimer</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>

        </div>
    </div>


    {{!-- Modal bouton contacter le vendeur --}}
    {{> modals/modalContactVendeur }}

</div>