<div class="card card-mkp mx-4">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
    </div>
    <img class="card-img-top" src="https://picsum.photos/480/480" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">{{this.content}}</p>
        <h5>Prix : {{price}}€</h5>

        <button type="button" class="btn btn-mkp my-1" data-toggle="modal" data-target="#modalContactVendeur"
            data-whatever="@getbootstrap">Contacter le vendeur</button>
        <a href="/contact"><button class="btn btn-mkp" type="submit">Signaler</button></a>
        <button type="button" class="btn btn-mkp" data-toggle="modal" type="submit"
            data-target="#modalConfirmSupp">Supprimer</button>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ createDate }}</small>
    </div>
</div>



{{!-- Modal confirmation de suppression --}}
{{> modals/modalConfirmSupp }}

{{!-- Modal bouton contacter le vendeur --}}
{{> modals/modalContactVendeur }}

