{{!---------- titre ------------------}}
<div class="border-bottom mx-auto " style="width: 40%;">
    <h1 class="text-center actu-color ">Nouvelle actu</h1>
</div>
{{!---------- titre ------------------}}

{{!------- formulaire de creation d'actualité ------------}}
<div class="container  mt-3">
    <div class="px-auto">
        <form action="/actuCreate" method="POST">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="title">Titre de l'article</label>
                    <input class="form-control" type="text" name="title">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="description">Contenu</label>
                    <textarea class="form-control" id="validationTextarea" type="text" name="content"></textarea>
                </div>
            </div>
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" name="image">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Envoyer une image au format .jpg .jpeg .gif uniquement
                        </span>
                    </span>
                </label>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="btn btn-actu">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{!------- /formulaire de creation d'actualité ------------}}